.btn-contact {
    background-color: rgb(9, 9, 9);
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: medium;
    border-radius: 20px;
}

.btn-socialMedia {
    background-color: transparent;
    border-color: transparent;
}